In [21]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("C:\\Users\\Lenovo\\Desktop\\New folder\\hmnist_28_28_RGB.csv")

In [3]:
dataset.head(10)

,pixel0000,pixel0001,pixel0002,pixel0003,pixel0004,pixel0005,pixel0006,pixel0007,pixel0008,pixel0009,...,pixel2343,pixel2344,pixel2345,pixel2346,pixel2347,pixel2348,pixel2349,pixel2350,pixel2351,label
0,192,153,193,195,155,192,197,154,185,202,...,173,124,138,183,147,166,185,154,177,2
1,25,14,30,68,48,75,123,93,126,158,...,60,39,55,25,14,28,25,14,27,2
2,192,138,153,200,145,163,201,142,160,206,...,167,129,143,159,124,142,136,104,117,2
3,38,19,30,95,59,72,143,103,119,171,...,44,26,36,25,12,17,25,12,15,2
4,158,113,139,194,144,174,215,162,191,225,...,209,166,185,172,135,149,109,78,92,2
5,8,1,3,19,5,10,26,8,13,34,...,12,3,7,5,0,1,4,0,0,2
6,194,147,137,197,148,139,197,148,132,200,...,211,160,163,211,162,166,208,162,166,2
7,161,121,105,169,128,119,172,129,116,176,...,141,103,92,87,59,56,32,18,19,2
8,125,84,85,165,114,118,181,120,125,188,...,119,80,79,62,35,41,19,8,13,2
9,228,179,194,227,174,191,226,165,182,215,...,217,142,156,219,154,166,216,146,154,2

In [4]:
X=dataset.iloc[:,:-1]
Y=dataset.iloc[:,-1:]

In [5]:
X.head()

,pixel0000,pixel0001,pixel0002,pixel0003,pixel0004,pixel0005,pixel0006,pixel0007,pixel0008,pixel0009,...,pixel2342,pixel2343,pixel2344,pixel2345,pixel2346,pixel2347,pixel2348,pixel2349,pixel2350,pixel2351
0,192,153,193,195,155,192,197,154,185,202,...,134,173,124,138,183,147,166,185,154,177
1,25,14,30,68,48,75,123,93,126,158,...,82,60,39,55,25,14,28,25,14,27
2,192,138,153,200,145,163,201,142,160,206,...,149,167,129,143,159,124,142,136,104,117
3,38,19,30,95,59,72,143,103,119,171,...,73,44,26,36,25,12,17,25,12,15
4,158,113,139,194,144,174,215,162,191,225,...,201,209,166,185,172,135,149,109,78,92

In [6]:
Y.head()

   label
0      2
1      2
2      2
3      2
4      2

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [53]:
model=RandomForestClassifier(n_estimators=200)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [54]:
model.fit(X_train,y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [64]:
import pickle 
saved_model = pickle.dumps(model) 
cancer_prediction = pickle.loads(saved_model) 




y_pred=cancer_prediction.predict(X_test)

In [65]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.72591113330005

In [66]:
def CancerPrediction(num):
    if num==0:
        return 'Actinic keratoses'
    if num==1:
        return 'Basal cell carcinoma'
    if num==2:
        return 'Benign keratosis-like lesions'
    if num==3:
        return 'Dermatofibroma'
    if num==4:
        return 'Melanoma'
    if num==5:
        return "Melanocytic nevi"
    if num==6:
        return 'Vascular lesions'

In [57]:
np.unique(Y)

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [28]:
from PIL import Image

im = Image.open("C:\\Users\\Lenovo\\Desktop\\Rudresh Sir\\1.jpg")
pixels = np.matrix(im.getdata())


print(pixels)

[[225 197 176]
 [228 200 179]
 [227 199 178]
 ...
 [214 173 141]
 [201 162 129]
 [198 162 130]]

In [30]:
pixels.shape

(94300, 3)

In [32]:
from PIL import Image 
img = Image.open("C:\\Users\\Lenovo\\Desktop\\Rudresh Sir\\1.jpg") 
img = img.resize((28,28)) 
img.save("C:\\Users\\Lenovo\\Desktop\\New folder\\resized_picture.jpg")

In [33]:
pixels = np.matrix(img.getdata())
pixels

matrix([[235, 206, 188],
        [225, 193, 178],
        [231, 205, 190],
        ...,
        [156, 148, 145],
        [184, 181, 174],
        [178, 167, 173]])

In [34]:
pixels.shape

(784, 3)

In [35]:
ini_array1 = np.array(pixels)

In [36]:
result = ini_array1.flatten()

In [37]:
result

array([235, 206, 188, ..., 178, 167, 173])

In [38]:
temp=result.reshape(1,-1)

In [68]:
model.predict(temp)[0]
print(CancerPrediction(model.predict(temp)[0]))

Melanoma